/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

:root {
  --mainBlack: #042a2b;
  --mainGreen: #5cb548;
  --darkBrown: #633517;
  --mainCream: #fcf7d6;
  --mainBlue: #659dbd;
  --mainDarkGreen: #069b06d0;
  --mainPinky: #daad86;
  --mainWhite: #ffffff;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/*Globals*/
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  height: 100%;
}

h1 {
  font-size: 27px;
  margin-top: 50px;
  color: var(--mainBlack);
  padding-top: 10px;
}

p {
  font-size: 17px;
  margin-top: 50px;
  color: var(--mainBlack);
}

/*Globals end*/

/* Pages start */
.home-page {
  background-color: var(--mainWhite);
  padding-top: 200px;
  padding-left: 243px;
  padding-right: 243px;
  align-items: center;
  justify-content: center;
}

.pagelayout {
  padding-top: 200px;
  padding-left: 243px;
  padding-right: 243px;
  min-height: calc(100vh - 66px);
}

.header-section {
  display: grid;
  position: fixed;
  background-color: var(--mainGreen);
  top: 0;
  left: 0;
  height: 140px;
  width: 100%;

  flex-wrap: wrap;
  align-items: center;
  /*overflow: hidden; /*this hides the links if they are going over the bar*/
}

.header-top {
  padding: 18px 0 14px;
}

.header-search-form {
  width: 100%;
  position: relative;
  padding: 0 10px;
}

.header-search-form input {
  width: 100%;
  height: 44px;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  padding: 0 19px;
  background: #f0f0f0;
}

.header-search-form span {
  position: absolute;
  height: 44px;
  right: 0;
  top: 0;
  font-size: 26px;
  color: var(--mainBlack);
  cursor: pointer;
  background-color: transparent;
}

.cart {
  display: inline-block;
  position: absolute;
  width: 50px;
  top: 80px;
  right: 160px;
  margin-right: 100px;
}

.logo {
  width: 80px;
  float: left;
  margin-left: 50px;
  padding-top: 5px;
}

.nav-links {
  width: 100%;
  background: var(--darkBrown);
}

.main-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.main-menu li {
  display: inline-block;
  position: relative;
}

.main-menu li a {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  margin-right: 70px;
  line-height: 1;
  padding: 17px 0;
  position: relative;
}

.nav-links a:active,
.nav-links a:hover,
.nav-links a.active {
  color: var(--darkShadow);
  /*border: 1px solid white;*/
}

.search-bar {
  display: inline-flex;
  position: absolute;
  top: 20px;
  right: 250px;
  width: 50%;
}
/*Search bar ends*/

/* navigation ends*/

/* Feature Section */
.feature {
  background: rgba(116, 196, 63, 0.5);
  padding: 5rem 5rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.feature h1 {
  font-size: 2.5rem;
  height: 50px;
  color: var(--mainBlack);
}

.feature div {
  width: 10rem;
  height: 5px;
  margin: 1.7rem auto;
}

.feature p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--mainWhite);
}

/* Footer starts */
.f-center {
  position: relative;
  bottom: 0;
  background-color: var(--mainCream);
  height: 180px;
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
}

.f-center h1 {
  font-size: 25px;
  margin-top: 25px;
  color: var(--mainDarkGreen);
}

.f-center p {
  color: var(--mainPinky);
}

/* Footer Ends*/

/*Contact page*/
.contactpage {
  padding-top: 200px;
}

/*
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links li a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}*/
