:root {
  --mainBlack: #042a2b;
  --mainGreen: #5cb548;
  --darkBrown: #633517;
  --mainCream: #fcf7d6;
  --mainBlue: #659dbd;
  --mainDarkGreen: #069b06d0;
  --mainPinky: #daad86;
  --mainWhite: #ffffff;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(221, 218, 218, 0.651);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/*Globals*/
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  height: 100%;
}

body a {
  color: var(--mainBlack);
  font-size: 17px;
}

h1 {
  font-size: 27px;
  margin-top: 50px;
  color: var(--mainBlack);
  padding-top: 10px;
}

h3 {
  font-size: 20px;
  margin-top: 50px;
  color: var(--mainBlack);
  padding-top: 10px;
}

p {
  font-size: 17px;
  margin-top: 50px;
  color: var(--mainBlack);
}

/* Pages start */
.home-page {
  background-color: var(--mainWhite);
  padding-top: 60px;
  padding-left: 243px;
  padding-right: 243px;
  align-items: center;
  justify-content: center;
}

.pagelayout {
  padding-top: 60px;
  padding-left: 243px;
  padding-right: 243px;
  min-height: calc(100vh - 66px);
}

.header-section {
  display: grid;
  position: relative;
  background-color: var(--mainGreen);
  top: 0;
  left: 0;
  height: 140px;
  width: 100%;

  flex-wrap: wrap;
  align-items: center;
}

.header-top {
  padding: 18px 0 14px;
}

.header-search-form {
  width: 100%;
  position: relative;
  padding: 0 10px;
}

.header-search-form input {
  width: 100%;
  height: 44px;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  padding: 0 19px;
  background: #f0f0f0;
}

.header-search-form span {
  position: absolute;
  height: 44px;
  right: 0;
  top: 0;
  font-size: 26px;
  color: var(--mainBlack);
  cursor: pointer;
  background-color: transparent;
}

.cart {
  display: inline-block;
  position: absolute;
  width: 50px;
  top: 80px;
  right: 160px;
  margin-right: 100px;
}

.logo {
  width: 80px;
  float: left;
  margin-left: 50px;
  padding-top: 5px;
}

.nav-links {
  width: 100%;
  background: var(--darkBrown);
}

.main-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.main-menu li {
  display: inline-block;
  position: relative;
}

.main-menu li a {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  margin-right: 70px;
  line-height: 1;
  padding: 17px 0;
  position: relative;
}

.main-menu li a:active,
.main-menu li a:hover,
.main-menu li a.active {
  color: var(--mainPinky);
  text-decoration: none;
}

.search-bar {
  display: inline-flex;
  position: absolute;
  top: 20px;
  right: 250px;
  width: 50%;
}

/* Feature Section */
.feature {
  background: url("./TreeImages/featuretree.jpg");
  padding: 5rem 5rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.feature h1 {
  font-size: 10rem;
  height: 100px;
  color: var(--mainDarkGreen);
}

.feature div {
  width: 10rem;
  height: 100px;
  color: var(--mainDarkGreen);
  margin: 1.7rem auto;
}

.feature p {
  font-size: 2rem;
  color: var(--darkBrown);
  background: rgba(116, 196, 63, 0.5);
}

/* Footer starts */
.f-center {
  position: relative;
  bottom: 0;
  background-color: var(--mainCream);
  height: 180px;
  width: 100%;
  padding-left: 300px;
  padding-right: 200px;
}

.f-center h1 {
  font-size: 25px;
  margin-top: 25px;
  color: var(--mainDarkGreen);
}

.f-center p {
  color: var(--mainPinky);
}

.f-center a {
  font-size: 17px;
  color: var(--mainPinky);
}

.f-center a:hover {
  text-decoration: none;
  color: rgba(51, 49, 18, 0.5);
}

/*Item pages section*/
h2 {
  font-size: 1.2em;
  margin: 10px 0px;
}

p1 {
  font-size: 15px;
  margin: 10px 0px;
}

.itemwrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 55px;
  padding: 0px 25px;
}

.item {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  flex-basis: 30%;
  flex-wrap: nowrap;
  max-height: 400px;
  cursor: default;
  margin: 1.5%;
  background: var(--mainPinky);
  border-radius: 10px;
}

.itemdetails {
  font-size: 16px;
  font-family: Lato, sans-serif;
  padding: 10px 20px 15px;
}

.price {
  display: block;
  font-weight: 800;
  font-size: 1.3em;
  margin: 5px 0px;
  padding-bottom: 10px;
}

.btnitem {
  color: var(--mainCream);
  background: rgb(34, 34, 34);
  display: block;
  margin-right: auto;
  padding: 10px;
  width: 130px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 30px;
}

/*
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links li a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}*/
