/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

:root {
  --mainBlack: #042a2b;
  --mainGreen: #5cb548;
  --mainBrown: #b76128;
  --mainCream: #fcf7d6;
  --mainBlue: #659dbd;
  --mainDarkGreen: #069b06d0;
  --mainPinky: #daad86;
  --mainWhite: #ffffff;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/*Globals*/
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  height: 100%;
}

h1 {
  font-size: 25px;
  margin-top: 25px;
  color: var(--mainBlack);
}

p {
  font-size: 15px;
  margin-top: 25px;
  color: var(--mainBlack);
}

/*Globals end*/

/* Pages start */
.home-page {
  background-color: var(--mainWhite);
  padding-top: 10px;
  padding-left: 190px;
  padding-right: 190px;
  height: 100%;
  position: static;
}

.items-page {
  padding-left: 190px;
  padding-right: 190px;
}

.account-page {
  padding-left: 190px;
  padding-right: 190px;
}

.favourites-page {
  padding-left: 190px;
  padding-right: 190px;
}

.login-page {
  padding-left: 190px;
  padding-right: 190px;
}

.register-page {
  padding-left: 190px;
  padding-right: 190px;
}

.cart-page {
  padding-left: 190px;
  padding-right: 190px;
}

/* Pages end */

/* Navigation start */
.navbar {
  display: grid;
  position: fixed;
  background-color: var(--mainGreen);
  top: 0;
  left: 0;
  height: 140px;
  width: 100%;

  flex-wrap: wrap;
  align-items: center;
  /*overflow: hidden; /*this hides the links if they are going over the bar*/
}

.logo {
  width: 80px;
  float: left;
  margin-left: 0px;
  padding-top: 5px;
}

.nav-center {
  width: 100%;
  padding-left: 90px;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 1rem;
  /*margin-left: 50px;*/
  padding-top: 80px;

  /*width: 80px;
  padding-left: 30px;*/
}

.nav-links li a {
  color: var(--mainWhite);
  text-decoration: none;
  font-size: 17px;
  padding: 5px 20px;
}

.nav-links a:active,
.nav-links a:hover,
.nav-links a.active {
  color: var(--darkShadow);
  /*border: 1px solid white;*/
}

.cart {
  /*display: inline-flex;*/
  position: absolute;
  width: 50px;
  top: 80px;
  right: 370px;
  margin-right: 100px;
}

/*Search bar*/
.form-control {
  margin-top: 9px;
  margin-left: 30px;
  box-shadow: none;
}

.input-group-text {
  margin: 8.5px 10px 3px 0;
  cursor: pointer;
}

.search-bar {
  display: inline-flex;
  position: absolute;
  top: 80px;
  right: 150px;
  width: 20%;
}
/*Search bar ends*/

/* navigation ends*/

/* Footer starts */
.f-center {
  position: absolute;
  bottom: 0;
  background-color: var(--mainCream);
  height: 200px;
  width: 100%;
  padding-left: 200px;
}

.f-center h1 {
  font-size: 25px;
  margin-top: 25px;
  color: var(--mainDarkGreen);
}

.f-center p {
  color: var(--mainPinky);
}

/* Footer Ends*/

/*
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links li a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}*/
